<%- model_class = Pool -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> - <%= link_to @pool.name,
              edit_pool_path(@pool)%></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="50px">Rank</th>
      <th>Player</th>
      <th width="15px">Score</th>
      <th width="50px">Picks</th>
    </tr>
  </thead>
  <tbody>
<% prev_rank = 0
  prev_score = -1
  rank = 0

 @sorted_players.each_with_index do |sp, i|
  if(prev_score == -1 || sp[:score] < prev_score)
    rank = i + 1
    prev_score = sp[:score]
    prev_rank = rank
  else
    rank = prev_rank
  end

%>
  <tr>
    <td>
      <%= rank %>
    </td>
    <td>
      <%= sp[:player].name %>
    </td>
    <td><%= sp[:score] %></td>
    <td><%= link_to "Picks", picks_setup_path({player_id: sp[:player].id, pool_id: @pool.id}) %></td>
  </tr>
<% end %>
</tbody>
<tfoot>
  <tr><td colspan="3">
  <% if @pool.locked? %>
    Pool has started
  <% else %>
    <%= form_tag(picks_setup_path, method: "get", id: "join_pool") do %><%= label_tag(:player_name, "Name:") %><%= text_field_tag(:player_name) %><%= hidden_field_tag(:pool_id, @pool.id) %><%= submit_tag("Join Pool", class: "btn btn-success") %>
    <% end %>
  <% end %>
  </td></tr>
</tfoot>
</table>


<%= render :partial => 'matches/match_list', :locals => {matches: @pool.matches, hide_league: true, hide_actions: true} %>
