<%- model_class = Pool -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %> - <%= link_to @pool.name,
              edit_pool_path(@pool)%></h1>
</div>

Players
<table class="table table-striped">
  <thead>
    <tr>
      <th width="50px">Rank</th>
      <th>Player</th>
      <th>Score</th>
      <th>Picks</th>
    </tr>
  </thead>
  <tbody>
<% @sorted_players.each_with_index do |sp, i| %>
  <tr>
    <td>
      <%=i + 1%>
    </td>
    <td>
      <%= sp[:player].name %>
    </td>
    <td><%= sp[:score] %></td>
    <td><%= link_to "Picks", picks_setup_path({player_id: sp[:player].id, pool_id: @pool.id}) %></td>
  </tr>
<% end %>
</tbody>
<tfoot>
  <tr><td colspan="3">
  <%= form_tag(picks_setup_path, method: "get") do %>
    <%= label_tag(:player_name, "Name:") %>
    <%= text_field_tag(:player_name) %>
    <%= hidden_field_tag(:pool_id, @pool.id) %>
    <%= submit_tag("Join Pool") %>
  <% end %>
  </td></tr>
</tfoot>
</table>


<%= render :partial => 'matches/match_list', :locals => {matches: @pool.matches, hide_league: true} %>
<%= link_to "Add Match",
            new_match_path,
            :class => 'btn btn-primary' %>
