<%= form_for @team, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :reference, "Name", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :reference, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :league_id, "League", :class => 'control-label' %>
    <div class="controls">
      <%= f.select :league_id, League.all.collect {|l| [l.long_name, l.id]} %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logo_offset_x, "Offset X", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :logo_offset_x, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :logo_offset_y, "Offset Y", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :logo_offset_y, :class => 'text_field' %>
    </div>
  </div>

<% league = @team.league || League.first %>
  <div class="pick_link" style="background-image: url('/images/<%=league.name%>.jpg'); background-position: -<%=@team.logo_offset_x.to_i%>px -<%=@team.logo_offset_y.to_i%>px"></div>

  <img src="/images/<%=@team.league.name%>.jpg" />

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                teams_path, :class => 'btn' %>
  </div>
<% end %>
